#output {
    display: flex;
    flex-direction:column;
    padding: 25px;
    align-items: center;
    top: 50%;
    position: relative;
    bottom: 50%
}

#output button {
    margin: 3px;
    padding: 15px;
    max-width: 4000px;
    position: center;
}
.versus-container { 
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.versus-container > div > span { 
    text-transform: uppercase;
    max-width: 40%;
    margin: 15px 15px;
}
.versus-container .user-container { 
    text-transform: uppercase;
    padding: 20px;
    max-width: 45%;
}
.versus-container .opponent-container { 
    text-transform: uppercase;
    padding: 20px;
    max-width: 45%;
}
.versus-container .user-container .container{ 
    text-transform: uppercase;
    display: inline-block;
    flex-direction: column;
}
.versus-container .opponent-container .container { 
    text-transform: uppercase;
    display: inline-block;
    flex-direction: column;
}
.card-image { 
    max-height: 200px;
    padding-top: 15px;
    width: auto;
    transition:all 0.1s ease-in-out;
}
.card-image:hover {
    transform: scale(1.4);
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    background: url(https://images.godsunchained.com/art2/1920/322.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(255, 255, 255)
}
body p {
    margin: 0;
}